---
locations:
  - name: "{{ site_name }}"
    parent__name: "{{ region.name }}"
    location_type__name: "Site"
    status__name: "Active"
    "!ref": "site"

{% macro device(device_name, role_name, mgmt_address) -%}
  - name: "{{ device_name }}"
    location: "!ref:site"
    device_type__model: "PTX10016"
    role__name: "{{ role_name }}"
    status__name: "Active"
    interfaces:
      - name: "Management0"
        status__name: "Active"
        type: "virtual"
        ip_address_assignments:
          - ip_address:
              "!create_or_update:address": "{{ mgmt_address }}"
              status__name: "Active"
{% endmacro %}

devices:
  {{ device("ceos-spine1", "spine", spine_1_mgmt) }}
  {{ device("ceos-spine2", "spine", spine_2_mgmt) }}
  {{ device("ceos-leaf1", "leaf", leaf_1_mgmt) }}
  {{ device("ceos-leaf2", "leaf", leaf_2_mgmt) }}
  {{ device("ceos-leaf3", "leaf", leaf_3_mgmt) }}
  {{ device("ceos-leaf4", "leaf", leaf_4_mgmt) }}
